.heros__title {
  font-size: 72px;
  font-weight: bold;
  margin-bottom: 103px;
  line-height: 82px;
}
.heros__subtitle-one {
  font-size: 14px;
  color: #9A9A9A;
  text-decoration: underline;
} 