.offers {
  padding-left: 0;
  margin-bottom: 127px;
  display: flex;
  justify-content: space-between;
}
.offers__item {
  min-height: 449;
  background: #FFF;
  border-radius: 4px;
  width: calc(100% / 3 - 18px);
  height: 449px;
}
.offer {
  min-height: 449;
  background: #FFF;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}
.offer__item:last-child {
  margin-right: 0;
}
.offer__header {
  min-height: 144px;
  margin-bottom: 13px;
}
.offer__header-img {
  width: 362px;
  height: 144px;
}
.offer__content {
  padding: 22px 25px;
  color: #000000;
}
.offer__title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}
.offer__planes {
  margin-bottom: 26.5px;
  display: flex;
  justify-content: space-between;
  margin-right: 28px;
}
.offer__planes-cell {
  display: flex;
  justify-content: space-between;
}
.offer__planes-cell:last-child {
  margin-right: 0;
}
.offer__plane-desc {
  color: #666666;
  margin-left: 10px;
}

.offer__text {
  color: #303030;
  font-size: 14px;
  margin-bottom: 24.5px;
}
.offer__content .btn--color--red {
  color: #FFF;
  background: #F5170E;
  padding: 15px 30px;
}
.offer__content .btn--color--white {
  color: #F5170E;
  background: #fff;
  border: 1px solid #F5170E;
  padding: 15px 30px;
}
.offer__content .btn--color--red:hover {
  background: #DA0100;
  box-shadow: 0 2 4  30% rgba(218, 1, 0, 0.3);
}
.offer__content .btn--color--white:hover {
  background: #F5170E;
  color: #fff;
}