.contacts {
  font-style: normal;
  text-align: right;
  width: 191px;
}
.contacts__desc {
  font-size: 11px;
  color: #9A9A9A;
}
.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 4px;
}
.contacts__dropdown-title {
  font-size: 13px;
  text-decoration: underline;
  margin-top: -8px;
  margin-right: 3px;
  margin-bottom: 17px;
}
.timetable {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 160px;
  background: #EDEDED;
  color: #1E1F20;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 30px;
  opacity: 1;
  transition: .3s;
}
.timetable__trigon {
position: relative;
top: 20px;
height: 40px;
width: 40px;
background: #EDEDED;
transform: translatex(30px) translateY(-20px) rotate(45deg);
z-index: 0;

}
.timetable__item {
  height: 100%;
  z-index: 1;
}
.timetable__item--bold {
  font-weight: bold;
  margin-bottom: 1px;
  z-index: 1;
}

.contacts__dropdown-title:hover ~ .timetable {
  opacity: 1;
}
