.footer-container__content {
  border-top: 0.1px solid  rgba(255, 255, 255, 0.1)
}
.footer-conteiner__section {
  height: 93px;
}
.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__col {
  display: flex;
  align-items:center;
}
.footer__col--align--rignt {
  display: flex;
  align-items: center;

}
.inner-footer__container {
  padding: 45px 0;
}
.inner-footer {
  margin-top: auto;
}