.header {
  padding-top: 29px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 130px;
}
.header__col {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__col--align--right {
  justify-content: flex-end;
}
