.menu__item {
display: flex;
justify-content: space-between;
align-items: center;
margin-right: 54px;
}
.menu__item--active .menu__link {
  color: #DA0100;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__list {
  display: flex;
  justify-content: space-between;
}
.menu__link {
  font-size: 14px;
  text-decoration: none;
}
.menu__link:hover {
  color: #DA0100;
}