.news {
  padding: 0;
  margin-bottom: 57px;
  display: flex;
  justify-content: space-between;
}
.news__item {
  width: 557px;
  height: 394px;
  flex: 1;
  margin-right: 2%;
}
.single-news {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.single-news__item:last-child {
  margin-right: 0px;
}
.single-news__cover {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.single-news__text-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25px 30px;
  min-height: 140px;
}
.single-news__date {
  font-size: 14px;
}
.single-news__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 3.5px;
  margin-top: 12.5px;
}