.socials {
  display: flex;
  align-items: flex-end;
  margin-right: 74px;

}
.socials__link {
  text-decoration: none;
  width: 36px;
  height: 36px;
}
.socials__item {
  display: flex;
  padding: 0 5px;
}

.socials__item:last-child {
  margin-right: 0px;
}
.socials__item--icon--tg .socials__link {
  background-image: url(../../img/tg2.png) ;
}
.socials__item--icon--tg .socials__link:hover {
  background-image: url(../../img/tg1.png);
}
.socials__item--icon--vk .socials__link {
  background-image: url(../../img/vk2.png) ;
}
.socials__item--icon--vk .socials__link:hover {
  background-image: url(../../img/vk1.png);
}
.socials__item--icon--fb .socials__link {
  background-image: url(../../img/fb2.png) ;
}
.socials__item--icon--fb .socials__link:hover {
  background-image: url(../../img/fb1.png);
}
.socials__item--icon--inst .socials__link {
  background-image: url(../../img/inst2.png) ;
}
.socials__item--icon--inst .socials__link:hover {
  background-image: url(../../img/inst1.png);
}