.reviews {
  column-count: 2;
  column-gap: 30px;
  margin-bottom: 30px;
}
.reviews__item {
  margin-bottom: 17px;
}
.review {
  display: inline-flex;
  flex-direction: column;
  padding: 48px 29px;
  background: #F4F5F5;
}
.avatar {
  width: 142px;
  height: 142px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 22px;
}

.review__header {
  display: flex;
  align-items: center;
  margin-bottom: 27px;
}
.review__title {
  font-size: 30px;
  font-weight: bold;
  color: #1A1B1E;
  margin-bottom: 13px;
}
.review__content-text {
  color: #818181;
  margin-bottom: 49px;
  line-height: 27px;
}
.review__date {
  font-size: 14px;
  font-weight: bold;
  color: #1A1B1E;
}
.review__user {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #2E77A4;
  margin-bottom: 12px;
}
.review__user:after {
  content: url(./img/reviews/vk-icon.png);
  height: 26px;
  padding: 0 7px;
}
.review__tags {
  display: flex;
  align-items: flex-start;
}
.tag {
  font-size: 13px;
  color: #303030;
  padding: 9px 18px;
  border-radius: 35px;
  background: #E7E7E7;
}
.tag--bg--green {
  background: #B9EAE4;
}
.separator {
  background-image: url(./img/reviews/Rectangle.png);
  min-height: 363px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.separator__content {
  display: flex;
  align-items: center;
  min-height: 363px;
}
.separator__title {
  font-size: 48px;
  color: #fff;
  font-weight: bold;
  line-height: 56px;

}
.separator__content::after {
  content: url(./img/reviews/couple.png);
  margin-bottom: -29px;
  
}
.form__row {
  display: flex;
  margin-bottom: 26px;
}
.form__input {
  flex: 1;
  margin-right: 58px;
  border-radius: 1px;
  border: none;
  background: #fff;
  padding: 20px 30px;
  font-size: 18px;
  color: #1A1B1E;
}
.form__input:last-child {
margin-right: 0;
}
.form__input::placeholder {
  color: #666;
}
.form__input--textarea {
  height: 235px;
}
.form__controls {
  display: flex;
  margin-bottom: 24px;
}
.form__controls-title {
  width: 37.4%;
}
.controls {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin-bottom: -9px;
  margin-right: -8px;
}
.controls__item {
  margin-bottom: 9px;
  margin-right: 8px;
}
.controls__elem {
  cursor: pointer;
}
.controls__checkbox:checked ~ .controls__tag{
background: #B9EAE4;
}
.controls__checkbox {
  display: none;
}
.btn--color--black {
  background: #8E8E8E;
  color: #fff;
  transition: calc(.5s);
}
.btn--color--black:hover {
  background: #2B2B2B;
}
.form__input {
  border-radius: 5px;
  resize: none;
}
.form__btns {
  display: flex;
  justify-content: flex-end;
}
.form__btn {
  margin-right: 17px;
}
.form__btn:last-child {
  margin-right: 0;
}
.inner-section__title {
  margin-bottom: 39px;
}