.hero__text-section {
  width: 52%;
  margin-bottom: 246px;
}
.hero__title {
  font-size: 72px;
  font-weight: bold;
  line-height: 89px;
  margin-bottom: 34px;
}
.hero__subtitle {
  font-size: 18px;
  margin-bottom: 29px;
}
.hero--container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 600px;
}